extends layout

block content
    a(href='/') Home
    h1 Results for #{metadata[0].name}
    p #{metadata[0].desc}, created on: #{metadata[0].createdOn}
    hr

    p Select data to plot

    form#settings
        p
            span Radius:&nbsp;
            input(type="text", id="radius", value=10)
        p
            span y-limits&nbsp;
            input(type="text", id="ymin", value=0)
            input(type="text", id="ymax", value=25)
        each hdr, idx in metadata[0].headers
            p
                input(type="checkbox", class="dataselect", name=hdr, value=idx)
                span= hdr


    button#update(type='button').btn Update
    p
    div#container

    div#name.metadata= metadata[0].name
    div#headers.metadata
        each hdr in metadata[0].headers
            p= hdr

    // Main App
    script(type='text/javascript', src='/js/app.js')