extends layout

block content
    a(href='/') Home
    h1 Results for #{metadata[0].name}
    p #{metadata[0].desc}, created on: #{metadata[0].createdOn}
    hr

    p Select data to plot

    form#settings
        p
            span Smooth&nbsp;
            input(type="checkbox", id="bezier", checked=true)
        each hdr, idx in metadata[0].headers
            p
                input(type="radio", class="dataselect", name='foo', value=idx)
                span= hdr

    div#container(width="1400", height="600")

    div#name.metadata= metadata[0].name
    div#headers.metadata
        each hdr in metadata[0].headers
            p= hdr

    // Main App
    script(type='text/javascript', src='/js/app.js')